html
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="viewport" width="device-width" initial-scale="1.0" maximum-scale="1.0" user-scalable="0")
		link(rel="icon" href="data:;base64iVBORw0KGgo=")
	body

		header.header
			h1 a vague sense of presence

		main.main

			p _a vague sense of presence_ surge como uma abordagem à simbiose sonora entre sons individuais e o seu campo aural circundante.
			p Cada um dos compositores segue o caminho desejado, culminando numa obra que reflecte, como um espelho, as suas particularidades e semelhanças. Na junção dos elementos, os caminhos convergem para um único ponto, um centro.
			p Sob a forma de colectivo, as diferentes partes compõem o todo. A individualidade, embora presente e representada simbolicamente por cada uma das colunas, é diluída. No volume subentendido, criado pela estrutura, emerge um espaço de comunhão e contemplação, rodeado pelo som.
			p Cada uma das composições é de natureza generativa bem como a transição entre as mesmas. Recorrendo a sistemas probabilísticos e à compatibilidade dos elementos individuais internos das várias composições entre si, compõe-se a obra total.

		footer.footer
			h1 a vague sense of presence
